*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.image img{
    width: 100%;
    max-width: 100px;
}
.ctr a{
    color: blueviolet;
}
.icn{
    background-color: #DFEAEC;
    padding: 30px 20px;
    border-bottom: 0;
}
p h5{
    font-family: rubik;
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(hotpink 80%, pink 0);    
  }
  
  .progress-bar::before {
    content: "80%";
  }
@media screen and (max-width:576px) {
    .image img{
        max-width: 200px;
    }
}
image