* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: rubik;
    background: transparent !important;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto
}

.panel-left {
    display: flex;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    background-color: #2C2C2C;
    border-radius: 30px 0 0 30px;
    max-width: 245px;
    width: 100%;
    height: calc(100vh - 30px);
    overflow-y: auto;
}
.panel-left::-webkit-scrollbar {
    width: 0
  }
 
.logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.username {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    color: #fff;
    font-family: Poor Richard;
    font-size: 34;
    letter-spacing: 1px;
}

.line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.line hr {
    width: 80%;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}

.d-board {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px 15px 20px;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.w-icn {
    height: 18px;
}

.w-des h5 {
    color: #fff;
    font-family: Rubik;
    font-weight: 100;
    margin-left: 14px;
    text-decoration: none;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px 15px 20px;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.c-icn {
    height: 18px;
}

.c-des h5 {
    color: #fff;
    text-decoration: none;
    font-family: Rubik;
    font-weight: 100;
    margin-left: 14px;
}

.l-out {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0 0;
    color: #fff;
    text-decoration: none;
}

.l-out h5 {
    font-size: 16px;
}

.l-icn {
    height: 18px;
}

.l-des h5 {
    margin-bottom: 40px;
    margin-left: 20px;
}

.l-des a {
    color: #fff;
    font-family: Rubik;
    text-decoration: none;
    font-weight: 100;
}

.panel-right {
    width: calc(100% - 245px);
    background-color: #FFF9F0;
    height: calc(100vh - 30px);
    border-radius: 0px 30px 30px 0px;
    margin-left: 245px;

}

.r-top {
    margin: 20px 40px;
}

.r-top h4 {
    font-family: Poor Richard;
    font-size: 30px;
}

.r-top-s {
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.r-top-icn {
    background-color: #DFEAEC;
    padding: 15px 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 40px;
}

.r-top-icn.active {
    background: #FFA68B;
}

.r-top-icn img {
    display: flex;
    justify-content: center;

}

.list-s {
    background-color: #F2ECE4;
    margin: 20px 40px;
    padding: 10px 20px;
    border-radius: 20px;
    min-height: 465px;

}

.nt-main {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.nt {
    display: flex;
    align-items: flex-start;
}

.nt-des {
    margin-left: 20px;
    align-items: center;

}

.nt h4 {
    font-family: rubik;
    font-size: 22px;
    font-weight: 100;
}

.nt p {
    font-family: rubik;
    font-size: 15;
    font-weight: 100;

}

.nt-icn {
    background-color: #FFA68B;
    padding: 10px 10px;
    max-width: 40px;
    border-radius: 15px;
}

/* .r-lower:hover {
    border: solid #E2DADA 1px;
    border-radius: 20px;
} */

.nt-r {
    display: flex;
    margin-top: 10px;
}

.ti {
    margin-right: 20px;
    font-size: 5;
    font-family: rubik;
    font-weight: 100;
}

.da {
    margin-right: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;

}

.frm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tit {
    width: calc(50% - 15px);
    margin-top: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;
}

.tit input {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.typ {
    width: calc(50% - 30px);
    margin-top: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;
}

.typ select {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    width: 100%;
    padding: 10px 0;
    padding: 10px 10px;
}

.pric {
    width: calc(50% - 30px);
    margin-top: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;

}

.pric input {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.level {
    width: calc(50% - 30px);
    margin-top: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;
}

.level select {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.add {
    border: dashed 1px #2C2C2C;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 30px;

}

.btn button {
    width: 100%;
    max-width: 300px;
    background-color: #FFA68B;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    padding: 20px 0;
}

.btn-course {
    width: calc(50% - 30px);
    background-color: #FFA68B;
    border-radius: 10px;
    margin: 20px 0 0 20px;
    padding: 20px 0;
    text-align: center;
}
.btn-course button{
    background-color: #FFA68B;
    border: none;
}

.frm {
    max-width: 680px;
}

#up-img {
    display: none;
}

.mc-icn {
    display: flex;
    align-items: center;
}
.mc-icn p {
    margin-bottom: 0;
}

.mc-icn i {
    margin-left: 10px;
}

.qe {
    margin-left: 20px;
    max-width: 278px;
    width: 100%;
}

.mcqs {
    display: flex;
    max-width: 300px;
}

.mc-list {
    margin: 30px;
}

.frm-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    justify-content: space-between;
}

.lec input {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.lec {
    margin-left: 0;
    width: calc(50% - 15px);
    margin-top: 20px;
    font-weight: 100;
    font-family: rubik;
}

.txt {
    /* margin-left: 15px; */
    max-width: 680px;
    margin-top: 20px;
    font-weight: 100;
    font-family: rubik;
}

.txt textarea {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    resize: none;
    padding: 10px 10px;
}

.add-1 {
    border: dashed 1px #2C2C2C;
    border-radius: 20px;
    margin-top: 20px;
    /* margin-left: 20px; */
    max-width: 300px;
    padding: 5px 20px;
}

.toggler {
    display: none;
}

.close i {
    color: #fff;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    display: none;
}

.qdes {
    display: flex;
    max-width: 300px;
    margin: 20px 30px;
    justify-content: space-evenly;
}

.mcqs-1 {
    display: flex;
    align-items: flex-start;
    max-width: 300px;
    margin: 20px 30px;
    width: 100%;
}

.mc-list {
    margin: 30px;
}

.qe {
    font-family: rubik;
    font-size: 15px;
}

.opt {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.opt-l {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 180px;
    padding: 5px;
    border: #FFA68B solid 1px;
    border-radius: 10px;
    position: relative;
}
.close-q {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background: #707070;
    padding: 4px 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-q i {
    color: #fff;
    font-size: 12px;
}
.opt-l-1 p {
    margin-bottom: 0;
}
.opt-i {
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: 10px;
}

.opt-l-1 {
    padding: 5px 8px;
    border: #FFA68B solid 1px;
    font-family: rubik;
    color: #FFA68B;
    border-radius: 5px;
}

.opt-l-2 {
    margin-left: 5px;
    font-family: rubik;
    color: #FFA68B;
}
.editablechoice{
    padding: 5px;
    border: none;
    background: transparent;
    width: 90%;
    color: #FFA68B;
}
.editablechoice:focus {
    border: none; 
    outline: none; 
}
.ad-opt {
    margin-top: 10px;
}

.ad-opt a {
    color: #000;
    font-family: rubik;
    font-size: 15px;
}

.btnss {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 80px;
    max-width: 400px; */
    justify-content: space-evenly;

}

.btnss .btnss-1 {
    width: calc(25% - 10px);
}

.btnss button {
    width: 100%;
    max-width: 150px;
    background-color: #FFA68B;
    border-radius: 10px;
    border: none;
    margin: 20px 0px;
    padding: 20px 20px;
    width: 100%;
}

.tab-content {
    padding: 20px;
    width: 100%;
    max-width: 7900px;
}

.list-s .w-hed {
    background-color: #FFF3D9;
}

.list-s .w-hed-li {
    background: transparent
}

.list-s .ui-state-active {
    background-color: #FFA68B
}

.tdd {
    font-size: 14px;

}

.tdd tr img {
    height: 40px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    background-color: #FFF3DA;
    border-style: solid;
    border-width: 0;
}

.tspace {
    height: 10px;
}

.t-4 p {
    font-size: 16px;
    font-family: rubik;
}

.txt-m {
    border: solid 1px #2C2C2C;
    border-radius: 20px;
}

.txt-m textarea {
    border: none;
    outline: none;
}

.txt-a {
    resize: none;
    margin: 10px;
}

.lower-left h5 {
    font-size: 15px;
}

.username h3 {
    font-size: 20px;
    font-weight: bold;
}

.tbl-responsive {
    width: 1000px;
}

.panel-right .list-s {
    overflow-x: auto
}

.panel-right {
    overflow-x: auto;

}

.tb-t {
    background-color: #FFF3DA;
}

.btn-txt button {
    width: 100%;
    max-width: 90px;
    background-color: #FFA68B;
    border-radius: 10px;
    border: none;
    padding: 5px 0;
    margin-bottom: 20px;
    float: right;
}

.btn-c button {
    width: 100%;
    max-width: 200px;
    background-color: #2C2C2C;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
}

.typ-1 select {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.typ-1 {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    /* max-width: 250px; */
    margin-top: 20px;
    font-size: 5;
    font-weight: 100;
    font-family: rubik;
}
/* 
.typ-12 {
    margin-left: 40px;
} */

.tbl-main {
    padding: 0 20px;
}

.orng-txt {
    color: #FFA68B;
}

.level-1 select {
    background: transparent;
    border: solid 1px #2C2C2C;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.de-btn {
    text-decoration: none;
    border-radius: 10px;
    background-color: #FFA68B;
    padding: 10px 30px;
    color: #000;
}

.de-btn:hover {
    color: #000;
}

.de-btn-1 {
    text-decoration: none;
    border: #000 solid 1px;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 30px;
    color: #000;
}

.de-btn-3 {
    text-decoration: none;
    border: #FFA68B solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 10px;
    color: #000;
}
.de-btn-4 {
    text-decoration: none;
    background-color: #FFA68B;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    color: #000;
}
.typ-13 {
    display: flex;
    padding: 10px;
    font-family: rubik;
}

.yellow-bg{
    background-color: #ffdc83;
}

.red-bg{
  background-color: #FFA58A;
}

.red-clr{
    color: #FFA58A;
  }

.grey-bg{
    background-color: #C6CFBC;
}

.img-std{
    max-width: 50px;
    object-fit: cover;
}

.font-12{
    font-size: 12px;
}
.gray-bg{
    background-color: #ccc;
  }
.dgray-bg{
    background-color: #94918C;
}
.brd{
    border-bottom: #2C2C2C solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btns1 button{
    padding: 10px 10px;
    width: 100%;
    max-width: 150px;
    background-color:#FFA68B ;
    border: none;
    border-radius: 10px;
}

.orng-btn {
    background: #FFA68B;
}
.remove-focus:focus {
    outline: none;
}

.custom-radio {
    user-select: none;
  }
  
  .checkmark {
    top: 50%;
      transform: translatey(-50%);
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: transparent;
      border: 1px solid #FFA68B ;
    border-radius: 50%;
  }
  
  .custom-radio:hover input ~ .checkmark {
    background-color: rgba(255,255,255,0.2);
  }
  
  .custom-radio input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-radio .checkmark:after {
      content: "\2713"; /* Unicode for checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #FFA68B;
  }
  .remove-border {
    border: none;
    outline: none;
    background: transparent;
  }
  .qe textarea {
    border: none;
    background: transparent;
    display: block;
    width: 100%;
    resize: none;
  }
  .qe textarea:focus {
    outline: none;
  }

  .active-link {
    background: #FFA68B
}
.btn-g button{
    background:  #FFA68B;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.img-nick2{
    max-width: 55px
}

.myInput{
    width: 150px;
    margin-right: 5px;
}

.img-person{
    max-width: 45px;
}

.position-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6px 10px 6px 13px;
}
@media screen and (max-width:1100px) {


  .font-size-input{
    width: 50px;
  }

  .outline-none {
    outline: none !important;
  }

  .italic{
    font-style: italic;
}


.nt-r {
    width: 100%;
    justify-content: flex-end;
}
}
@media screen and (max-width:768px) {
    .not-main {
        display: flex;
        align-items: center
    }

    .not-main i {
        margin-right: 10px;
    }

    .panel-right {
        margin-left: 0;
        width: calc(100% - 0px);
    }

    .panel-left {
        display: none;
        overflow-x: hidden;
    }

    .toggler {
        display: block;
        color: #000;
    }

    .close {
        display: block;
    }

    .typ,
    .tit,
    .pric,
    .level,
    .btn-course  {
        width: calc(100% - 0px);
    }

    .btn-course  {
        margin-left: 0;
    }
    .add {
        margin-left: 0;
    }

    .btn button {
        margin: 20px 0;
    }

    .list-s {
        margin: 20px 20px;
    }

    .r-top {
        margin: 20px 20px;
    }

    .lec,
    .txt,
    .add-1 {
        margin-left: 0;
    }

    .add-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lec {
        width: calc(100% - 0px);
    }

    /* .typ-1 {
        max-width: 100%;
        width: calc(100% - 0px);
    } */
    .typ-12 {
        margin-left: 0;
    }
  
}
@media screen and (max-width:576px) {
    .btnss .btnss-1 {
        width: calc(100% - 10px);
    }
}
@media screen and (max-width:480px) {
   

    .mcqs-1 {
        margin: 20px 10px;
    }
    /* .btnss {
        margin-left: 60px;
    } */

    .myInput {
       width: 120px;
    }

}